<div class="d-flex justify-content-center"><h1>Greetings</h1></div>

<p *ngIf="!(greetings$ | async)"><em>Loading...</em></p>

<table class="table table-sm table-hover" *ngIf="(greetings$ | async)?.length>0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let greeting of (greetings$ | async)">
      <td>{{ greeting.name }}</td>
      <td>{{ greeting.timeStamp | date: "y.MM.dd HH:mm:ss" }}</td>
    </tr>
  </tbody>
</table>

<div>
    <button mat-raised-button color="basic" class="float-left" (click)="loadGreetings()">Refresh</button>
    <button mat-raised-button color="primary" class="float-right" (click)="openDialog()">Say Hi!</button>
</div>